@model TechJobs.ViewModels.NewJobViewModel

<div asp-validation-summary="All"></div>

<form asp-controller="Job" asp-action="New" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="EmployerID"></label>
        <select asp-for="EmployerID" asp-items="Model.Employers"></select>
    </div>

    @{
        // TODO #5 - Create <select> dropdowns for other job fields (outside of this @{ } block)
    }
    <div class="form-group">
        <label asp-for="LocationId"></label>
        <select asp-for="LocationId" asp-items="Model.Locations"></select>
    </div>
    <div class="form-group">
        <label asp-for="SkillId"></label>
        <select asp-for="SkillId" asp-items="Model.CoreCompetencies"></select>
    </div>
    <div class="form-group">
        <label asp-for="PositionId"></label>
        <select asp-for="PositionId" asp-items="Model.PositionTypes"></select>
    </div>
    <input type="submit" value="Add Job" />
</form>